@font-face {
  font-family: HelveticaNeue;
  src: url(/fonts/helvetica-neue/HelveticaNeue.otf);
  src: url(/fonts/helvetica-neue/HelveticaNeue.ttf);
}

@font-face {
  font-family: HelveticaNeueThin;
  src: url(/fonts/helvetica-neue/HelveticaNeue-Thin.otf);
  src: url(/fonts/helvetica-neue/HelveticaNeue-Thin.ttf);
}

@font-face {
  font-family: WhitneyMedium;
  src: url(/fonts/whitney-medium/whitney-medium.otf);
  src: url(/fonts/whitney-medium/whitney-medium.ttf);
}

@font-face {
  font-family: LatoHeavy;
  src: url(/fonts/lato/lato-heavy.otf);
  src: url(/fonts/lato/lato-heavy.ttf);
}

@font-face {
  font-family: FontAwesome;
  src: url(/fonts/fa/fontawesome.otf);
  src: url(/fonts/fa/fontawesome.ttf);
}

@font-face {
  font-family: Overwatch;
  src: url(/fonts/overwatch/overwatch.otf);
  src: url(/fonts/overwatch/overwatch.ttf);
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

main {
  background-color: #43484D;
  height: 100%;
  width: 100%;
}

.main-header {
  font-family: Overwatch;
  font-size: 4rem;
  margin-top: 0;
  padding-top: 5rem;
  text-align: center;
  color: #FFFEFF;
  padding-bottom: 5rem;
}

.down-title {
  color: #F99D1B;
}

.down {
  color: #EF6461;
  text-align: center !important;
  font-family: WhitneyMedium;
}

.not-down {
  color: #3C91E6;
  text-align: center !important;
  font-family: WhitneyMedium;
}

.status-up {
  color: #3C91E6;
  font-size: 4vw !important;
}

.status-down {
  color: #EF6461;
  font-size: 4vw !important;
}

.eu-status-box {
  text-align: center;
}

.status-box {
  text-align: center;
}

h2 {
  padding-bottom: 3.5rem !important;
}

h3 {
  font-size: 2rem !important;
  color: #FFFEFF;
  font-family: HelveticaNeueThin !important;
}
